
header, footer, section, nav, article {
	display: block;
}

h1, h2, h3 {
	font-family: Arial, Geneva, Helvetica
}
	
body {
	margin:10px auto;
	width: 960px; /*-- Try and reduce window width manually --*/
	font-size: 100%
}

code { white-space:pre; 
	font-size:large;
}

p, ul, li {
	margin:0px;
	padding:0;
	color: Black;
	font-size: 1em;
	font-family: Georgia, Times New Roman, Times, Serif;
	/*font-weight: 100;*/
}

blockquote {
	font-size: 0.95em;
	font-family: Georgia, Times New Roman, Times, Serif;
}

figure, figcaption {
	display: block;
	text-align: center;
	font-size: 0.9em;
	font-family: Georgia, Times New Roman, Times, Serif;
}

/*-- Classes --*/

.indent {margin-left: 3em}
.textLeft {
	clear: left; 
	float: right; 
	padding: 3px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
}
.textRight {
	clear: right; 
	float: left; 
	padding: 3px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
}

/*-- Divisions --*/

header#banner {
	width: 960px;
	height: 100px;
	margin: 5px auto;
	border: 1px solid #ffffff;
	text-align: center;
	background-image: url('../pics/banner_layer1a.jpg');
	background-repeat: no-repeat;
}

footer#banner {
	float: left;
	width: 960px;
	height: 40px;
	margin: 5px auto;
	border: 1px solid #ffffff;
	text-align: center;
	background-image: url('../pics/banner_layer1a.jpg');
	background-repeat: no-repeat;
	background-position: bottom right;
}

section#sidebar {
	margin-top: 20px;
	float: right;
	width: 200px;
	height: auto;
}

section#wrapper {
	float: left;
	width: 700px;
	height: 700px auto;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

/*------NAVIGATION BAR---------------*/

nav {
	float: left;
	margin-top: 0px;
	font-family: Arial, Geneva;
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

nav li a {
	display: block;
	padding: 5px;
	width: 196px; /*-- (180-2-1-1) */
	color: #000000;
	background-color: #edc9af;
	text-decoration: none;
	border: 1px;
	border-style: solid;
	border-radius: 5px;
}

nav li a:hover {
	background-color: #e18b6b;
	border: 1px;
	border-style: solid;
	border-radius: 5px;
}

/*---- Mobile Phone -----*/
@media screen and (max-width: 600px) {
body {
	width: 100%;
}
header#banner {
	width: 94%;
	margin: 3%;
	height: auto;
 }
footer#banner {
	width: 94%;
	height: 40px;
	margin: 3%;
 }
section#sidebar {
	float: left;
	width: 94%;
	height: auto;
	margin: 3%;
 }
section#wrapper {
	float: left;
	width: 94%;
	height: auto;
	margin: 3%;
 }
}


